
@import 'variables.scss';

/** Add styles here **/

.main {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 5%;
}

.product-info {
    display: flex;
    justify-content: space-between;
}

.product-image {
    width: 45%;
}

.product-desc {
    width: 50%;
}